body
{
    margin: 0px;
    padding: 0px;

    color: rgb(0, 255, 0);
    background-color: black;
}

#drawing-board
{
    height: 400px;
    width: 400px;

    background-color: white;

    border: 10px solid rgb(0, 255, 0);
}

#main-heading
{
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 2rem;
}

#drawing-board
{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#drawing-board div {
    width: 1.5625px;
    height: 1.5625px;

    /* text */
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}